<div class="container">
	Reusable item
	<div class="cards" *ngFor="let user of usersList">
		<app-card [img]="user.img">
			<ng-template>
				<h4><b>{{user.name}}</b></h4>
				<p>{{user.id}}</p>
			</ng-template>
		</app-card>
	</div>
		<div [class]="getClasses()">This div is special {{isClicked}}</div>
		<button (click)="setCurrentClasses()">Click</button>
	<label for="example-ngModel">[(ngModel)]:</label>
	<form #form="ngForm" (ngSubmit)="onSubmit(form)">
		<input [ngModel]="currentItem.name"  (ngModelChange)="setUppercaseName($event)" name='name' id="example-ngModel">
		{{currentItem.name}}
	</form>
	<div *ngFor="let item of users; trackBy: trackByItems">
		({{item.id}}) {{item.name}}
	</div>

	<p>
		I turned the corner
		<ng-container *ngIf="anotherUser">
			and saw {{anotherUser.name}}. I waved
		</ng-container>
		and continued on my way.
	</p>

	<div>
		Pick your favorite hero
		(<label><input type="checkbox" [checked]="showSad" (change)="showSad = !showSad">show sad</label>)
	</div>
	<p *ngIf="hero" >HERO: {{hero.name}} {{hero.id}} {{hero.emotion}}</p>
	<select [(ngModel)]="hero">
		<option [ngValue]="emptyHero">{{emptyHero.name}}</option>
		<ng-container *ngFor="let h of heroes">
			<ng-container *ngIf="showSad || h.emotion !== 'sad'">
				<option [ngValue]="h">{{h.name}} ({{h.emotion}})</option>
			</ng-container>
		</ng-container>
	</select>

</div>
