<header>
	<nav>
		<a routerLink="/">Dashboard</a>
		<a routerLink="/heroes">Heroes</a>
		<a routerLink="/list-manager">List Manager</a>
		<a routerLink="/todos">Todos</a>
		<a routerLink="/mission">Mission</a>
		<a routerLink="/crisis">Crisis</a>
		<a routerLink="/pipes">Pipes</a>
		<a routerLink="/flying-heroes">Flying Heroes</a>
		<a routerLink="/flying-heroes">Flying Heroes</a>
		<a routerLink="/hero-async">Hero async messages</a>
		<a routerLink="/todos-server-fetching">Todos Server Fetching</a>
		<a routerLink="/modal">Modal</a>
		<a routerLink="/input-form">Input Form</a>
		<a routerLink="/reusable-template">Reusable Template</a>
		<a routerLink="/switch-case">Switch Case</a>
		<a routerLink="/heroes-server">Heroes Server</a>
		<a routerLink="/detect-changes">Detect Changes</a>
	</nav>
</header>
