.pagination {
padding-top: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  align-items: center;
  margin: 0 auto;
}

.block {
  padding: 5px;
  border: 1px solid #ccc;
  margin: 0 1px;
  background: white;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.block:hover {
  cursor: pointer;
  background-color: #999;
}

.block:hover > .item {
  color: white;
}

.item {

}

.active {
  background: black;
  color: white;
}

.active:hover {
  opacity: .6;
}

