<div class="pagination">
	<nav class="container">
		<a class="block" (click)="handlePrev()"><span class='item'><</span></a>
		<div
			class="page-number-container"
			*ngFor="let page of paginationList"
		>
		<a
			class="block"
			*ngIf="page !== null"
			[class.active]="page === activePage"
			(click)="handleClick(page)"
		>
			<span class='item'>{{page}}</span>
		</a>
			<span class="empty-block" *ngIf="page === null">...</span>
		</div>
		<a class="block" (click)="handleNext()"><span class='item'>></span></a>
	</nav>
</div>
