.header {
  color: var(--main-text-color);
  max-width: 80%;
  margin: 0 auto 50px;
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
}

.boxContent {
  width: 100%;
  position: relative;
}
