
	<div class="todo-app">
		<h1 class="app-title">
			Welcome to {{ title }}!
		</h1>
		<input type="text" [ngModel]="name">
		<app-input-button-unit (handleSubmit)="addItem($event)" [name]="name"></app-input-button-unit>

		<ul>
			<li *ngFor="let todoItem of todoList">
				<app-todo-item
					[item]="todoItem"
					(remove)="removeItem($event)"
					(update)="updateItem($event.item, $event.changes)"
				></app-todo-item>
			</li>
		</ul>
	</div>

	<app-button text="SUbmit" (handleButtonClick)="handleSubmit()"></app-button>
