<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
	<label for="name">
		<app-input
			name="name"
			[isRequired]="true"
			defaultValue=""
		></app-input>
<!--		<input class="form-control" name="name" ngModel required />-->
	</label>

	<div>
		<label for="gender">
			<app-radio *ngFor="let radio of radioList"
				[title]="radio.title"
				[groupName]="radio.name"
				[value]="radio.value"
			  [isRequired]="true"
			></app-radio>
		</label>
		<div [ngSwitch]="itemForm.value.gender">
			<p *ngSwitchCase="'male'">Male</p>
			<p *ngSwitchCase="'female'">Female</p>
			<p *ngSwitchDefault>No chosen</p>
		</div>
	</div>

	<div>
		<label for="access"></label>
		<app-checkbox
			name="isSuccess"
			[isRequired]="true"
			[defaultValue]="true"
		></app-checkbox>
	</div>
	<div>
		<app-select
			name="items"
			[items]="items"
			[defaultValue]="items[0]"
		></app-select>
	</div>
	<button [disabled]="!itemForm.valid" type="submit">Submit</button>
</form>


