<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
	<label for="name">
		<app-input
			name="name"
			[isRequired]="false"
			defaultValue=""
		></app-input>
<!--		<input class="form-control" name="name" ngModel required />-->
	</label>

	<div>
		<label for="gender">
			<app-radio *ngFor="let radio of radioList"
				[title]="radio.title"
				[groupName]="radio.name"
				[value]="radio.value"
			  [isRequired]="false"
			></app-radio>
		</label>
		<div [ngSwitch]="itemForm.value.gender">
			<p *ngSwitchCase="'male'">Male</p>
			<p *ngSwitchCase="'female'">Female</p>
			<p *ngSwitchDefault>No chosen</p>
		</div>
	</div>

	<div>
		<label for="access"></label>
		<app-checkbox
			name="isSuccess"
			[isRequired]="false"
			[defaultValue]="true"
		></app-checkbox>
	</div>
	<div>
		<label for="peoples">Peoples</label>
		<app-select
			name="peoples"
			[items]="items"
			[defaultValue]="items[0]"
		></app-select>
	</div>
	<button [disabled]="!itemForm.valid || isLoading" type="submit">
		<span *ngIf="!isLoading">Submit</span>
		<span *ngIf="isLoading">Loading...</span>
	</button>
	<span class="error" *ngIf="error">{{error}}</span>
</form>


