
<div class="container">
    <h2>My Heroes</h2>
    <ul class="heroes">
        <li
          *ngFor="let hero of heroes"
          (click)="onSelect(hero)"
          [class.selected]="hero === selectedHero"
        >
            <app-hero-badge
              [id]="hero.id"
              [name]="hero.name"
              [isSelected]="hero === selectedHero"
            ></app-hero-badge>
        </li>
    </ul>
    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
    <app-hero-debounce></app-hero-debounce>
</div>


